sudo: false
language: node_js
cache:
  directories:
    - node_modules
node_js:
  - 6
  - 8
  - 10
  - node
branches:
  only:
    - master
notifications:
  email: false
script:
  - npm run validate
after_success:
  - npm run test:report
